/*fonts*/
@font-face {
    font-family: basic_tile;
    src: url('fonts/basictitlefont.ttf');
}

*{
	margin: 0;
	padding: 0;
}
html {
  background:#fff;
 	webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover !important;
}
body{
	font-family:basic_tile;
	margin: 0;
	padding: 0;
}
.something{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content{
	background: rgba(255,255,255,0.7);
	background-position:center top;
	background-repeat:no-repeat;
}

h1{
	text-align: center;
	text-transform: uppercase;
	color: white;
	margin: 20px;
	padding-top: 0px;
	font-size:30px;
	clear:both;
}

h2{
	font-size:45px;
}
h3{
	font-size:30px;
}


.icons{
	width: 75px;
	height: 75px;
}
#links{
	float:right;
}

#quote {
	margin:20px auto;
  width:80%;
	max-width: 600px;
	text-align:center;
}

.spots{
	width: 300px;
	height: 425px;
	margin:5px;
	background: rgba(100,65,165,.5);
	vertical-align: top;
}



  /* XXS */ @media only screen and (min-width : 320px)  {}
  /* XS  */ @media only screen and (min-width : 480px)  {}
  /* SM  */ @media only screen and (min-width : 768px)  {
  	html{
		height: 100vh;
	}

  }
  /* MD  */ @media only screen and (min-width : 992px)  {}
  /* LG  */ @media only screen and (min-width : 1200px) {}
