
*{
  margin: 0; 
  padding: 0;
}

/*fonts*/
@font-face {
    font-family: hiragino;
    src: url('https://raw.githubusercontent.com/intelijens/fonts/master/HiraginoMincho.otf');
}
@font-face {
    font-family: kabel;
    src: url('https://raw.githubusercontent.com/intelijens/fonts/master/Kabel.ttf');
}
@font-face {
    font-family: mike;
    src: url('https://raw.githubusercontent.com/intelijens/fonts/master/JandaCheerfulScript.ttf');
}



/*-----*/
body{
  color: #fff;
  font-family: arial;
  background-color: #077994;
}
#content{
  width: 70%; 
  /*height: 100%;*/
  background: url('http://intelijens.com/sandbox/img/IMG_5887.JPG') no-repeat; background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  margin:20px auto;
}
h2,h3, h4{
  text-align:center;
  color: #fff;
  font-family: kabel;

}
h2{
   font-size: 100px;
}
h3{
   font-size: 50px;
}
h4{
   font-size: 20px;
}

.title h4{
  color: #959595;
  margin:10px 0;
}
.tagline{
  max-width: 550px; 
  margin: 0 auto;
}

img{
  margin: 0 auto; 
  display:block;
}

.quote{
  font-style: italic;
  text-align:center;
    font-family: mike;
    font-size: 30px;
    margin: 10px;
    color:#9bda78;
}
.copy{
  max-width: 560px;
  width: 80%; 
  margin: 0 auto;
  font-family: kabel;
}
.copy p{
  margin-top:10px;}

.link{

  /*background: url("http://intelijens.com/sandbox/img/learn_more.png") no-repeat;
  background-size: 70%;
  min-height:200px;*/
  max-width: 560px;
  width: 80%; 
  margin: 20px auto;
  font-family: kabel;
}
.link_img{
  max-width: 350px;
  float: left;
position: absolute;}
.link_img img{
  max-width: 100%;}

.link_copy{
  width: 50%; 
  height: auto; 
  float:right; 
  margin: 30px 0;
  position: relative;}
 .link_copy a{ color:#9bda78;}



/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 720px) {
  #content{
  width: 90%; 
  margin:10px auto;
  }

  img{
    width: 100%;
  }

  h2{
   font-family: kabel;
   font-size: 100px;
  }
  h3{
   font-family: kabel;
   font-size: 50px;
  }
  h4{
   font-family: kabel;
   font-size: 20px;

  }
.quote{
  font-style: italic;
  text-align:center;
    font-family: mike;
    font-size: 22px;
}

}/*end media query*/


