*{
	margin: 0;
	padding: 0;
}

html {
  	background:black;
 	webkit-background-size: cover;
  	moz-background-size: cover;
  	o-background-size: cover;
  	background-size: cover !important;


}

body{
	font-family:helvetica, arial, serif;
}

h1,h2,p{
	text-align: center;
	text-transform: uppercase;
	color: white;
	margin: 5px 0;
}

ul {
    text-align:center;
}

li {
    display:inline-block;
}

img{
	width: 290px;
	height: 290px;
}

.icons{
	width: 75px;
	height: 75px;
}
#links{
	float:right;
}

#outer {
    width:100%;
}

.spots{
	width: 300px;
	height: 425px;
	margin:5px;
	background: rgba(100,65,165,.5);
	vertical-align: top;
}



  /* XXS */ @media only screen and (min-width : 320px)  {}
  /* XS  */ @media only screen and (min-width : 480px)  {}
  /* SM  */ @media only screen and (min-width : 768px)  {
  	html{
		height: 100vh;
	}
  }
  /* MD  */ @media only screen and (min-width : 992px)  {}
  /* LG  */ @media only screen and (min-width : 1200px) {}
